<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Неликвиды</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">

<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">



</head>
<body style="margin-left: 50px;margin-right: 50px;margin-top: 50px;">
<style>
h1{
	font-family: 'PFDinDisplayProRegular', Arial Narrow, sans-serif;
	/*font-family: PF DinDisplay Pro;*/
	font-size:40px;
	font-weight:normal;
	color:#710c7b;
	margin:0px;
	padding:10px 0;
}
</style>

<h1>OPTIMA</h1>

<div class="bs-example" data-example-id="text-form-control"><form><input class="form-control" placeholder="Поиск (в разработке)"></form></div>
<div class="bs-example" data-example-id="contextual-table"> <table class="table"><thead> <tr>
  <th>#</th> 
  <th>Наименование</th> 
  <th>Количество</th> 
  <th>Цена</th>
  <th>Сумма</th>  
  </tr> </thead> <tbody> 
 
<tr class="danger"> <th scope="row">1</th> 
<td>DC860/010500 Доводчик ABLOY DC 860 EN1-5, тело без тяги, скрытая установка, технология Cam Motion,</td> 
<td>1974 шт.</td> 
<td>15 000 руб.</td>
<td>29 610 000 руб.</td> 
<td><button type="button" class="btn btn-danger">Отложить</button></td>
</tr> 
<tr><tr class="success"> <th scope="row">2</th> 
<td>DC893/100500 Скользящий канал G893 (большой) для доводчиков ABLOY DC840, DC860, цвет - серебро</td> 
<td>1670 шт.</td> 
<td>2 200 руб.</td>
<td>3 674 000 руб.</td>
<td><button type="button" class="btn btn-danger">Отложить</button></td> 

</tr><th scope="row">3</th> 
<td>DC892/100500 Скользящий канал G892  для доводчиков ABLOY DC840, DC860, цвет - серебро</td> 
<td>300 шт.</td> 
<td>2 200 руб.</td> 
<td>660 000 руб.</td>
<td><button type="button" class="btn btn-danger">Отложить</button></td> 

</tr> <tr> <th scope="row">4</th> 
<td>Доводчик дверной скрытый DCL 34 без фиксатора серебр. EN 3</td> 
<td>286 шт.</td> 
<td>5 500 руб.</td> 
<td>1 430 000 руб.</td> 
<td><button type="button" class="btn btn-danger">Отложить</button></td>

</body>
</html>