<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>OPTIMA - документооборот | Реестр писем</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin-left: 50px;margin-right: 50px;margin-top: 50px;">
<style>
h1{
	font-family: 'PFDinDisplayProRegular', Arial Narrow, sans-serif;
	/*font-family: PF DinDisplay Pro;*/
	font-size:40px;
	font-weight:normal;
	color:#710c7b;
	margin:0px;
	padding:10px 0;
}
h2 {
  margin-top: 12px;
  color: #6e0678;
  font-size:20px;
}

</style>

<h1>OPTIMA</h1>
<h2>Реестр</h2>
<div class="bs-example" data-example-id="text-form-control"><form><input class="form-control" placeholder="Поиск (в разработке)"></form></div>
<div class="bs-example" data-example-id="contextual-table"> <table class="table"><thead> <tr>
  <th>#</th> 
  <th>Комментарий</th>
  <th>Поставщик</th>
  <th>PID</th>
  <th>Исх №</th>
  </tr> </thead> <tbody> 
 
<tr class="danger"> <th scope="row">1</th> 
<td><a href="css/530.pdf">ИБП</a></td>
<td>ENTEL</td>
<td>812 345</td>
<td>530</td>

</tr> 
<tr><tr class="success"> <th scope="row">2</th> 
<td>Не соответствие опросному листу</td>
<td>ТЭЛ ТЭК</td>
<td>825 443</td>
<td>223</td>
</tr>

<tr><tr class="success"> <th scope="row">2</th>
  <td>Гарантийное письмо</td>
  <td>НОВАЯ ЭРА</td>
  <td>515 443</td>
  <td>211</td>
</tr>

<tr><tr class="success"> <th scope="row">2</th>
  <td>Выхов специалиста</td>
  <td>Неотехника</td>
  <td>935 483</td>
  <td>701</td>
</tr>


<tr><tr class="danger"> <th scope="row">2</th>
  <td>Вызов на ПНР</td>
  <td>ТЭЛ ТЭК</td>
  <td>825 443</td>
  <td>518</td>
</tr>


<tr><tr class="success"> <th scope="row">2</th>
  <td>Не соответствие опросному листу</td>
  <td>ТЭЛ ТЭК</td>
  <td>825 443</td>
  <td>223</td>
</tr>

</body>
</html>